<% render partial: 'about/subnav' %>

<div class="box wide">
  <%- raise "Site owner: You need to delete app/views/home/about.html.erb and write your own about page" if Rails.env.production? and Rails.application.name != 'Lobsters' -%>

  <div class="story_text">
  <p>
  movies.win is a movie-focused community centered around link aggregation
  and discussion.
  The administrator is <a href="/u/georgebailey">georgebailey</a>, contact him with any support issues.
  movies.win is a fork of <a href="https://lobste.rs/">Lobste.rs</a> which is a computing-focused website
  that they were gracious enough to make opensource. movies.win has merely added some styling changes to make it
  more "movie" oriented.
  Lobste.rs was created with careful design touches to encourage a healthy community that we really liked, which is
  why we choose to use it.

  Here is their outline (with some changes) of their design decisions and how this site operates:
  </p>

  <ul>
    <li>a <a href="#tagging">tagging</a> system to categorize and filter submissions,</li>
    <li>a user <a href="#invitations">invitation tree</a> to combat spam,</li>
    <li><a href="#flags">flag explanations</a> to curb punishing disagreement,</li>
    <li>a strong commitment to <a href="#transparency">transparency</a>,</li>
    <li>and <a href="#features">many more features</a> that have been added over the years.</li>
  </ul>

  <h2 id="tagging">Tags and Topicality</h2>
  <p>
  When links or stories are submitted, they must be tagged by the submitter from a list of predefined <a href="/tags">tags</a>.
  Users can choose to <a href="/filters">filter</a> out or
  subscribe to all submissions with particular tags (example: <a href="https://movies.win/t/lotr.rss">lotr.rss</a>)
  or combinations of tags (example: <a href="https://lobste.rs/t/lotr,marvel.rss">lotr,marvel.rss</a>).
  All users see all stories by default.
  The tagging system works this way for three reasons:
  </p>

  <ul>
  <li><p>
  It keeps the site on-topic by only allowing a predefined list of tags.
  These tags represent what most of the users of the site want to read, so
  content that does not fit into any of those categories should not be
  submitted.  It also keeps stories organized and more easily searchable.
  </p></li>

  <li><p>
  It promotes discussion.  On a site with separate forums, a indie film lover
  would probably subscribe to a a24 forum, but not a disney one.  When a link
  is posted to the disney forum, that a24 would probably never see
  it, even though they may have something useful to say about it (perhaps the
  link is about a indie film director who will be filming a disney movie which
  does the same thing as a disney director which that disney director created).
  On this site, the link would get posted with a <a href="/t/disney" class="tag">disney</a>
  tag and shown to everyone, encouraging the indie film lover to read and comment on it
  (unless that indie film lover disliked disney enough to <a href="/filters">filter</a> it out).
  You can, we know you want to, it won't hurt our feelings.
  </p></li>

  <li><p>
  It keeps the community coherent.  Often stories contain discussion
  about more than one topic, yet on other sites they are confined to a single
  category/forum, limiting the exposure.  The link could be submitted to more
  than one forum, but then each conversation would remain separate and users
  would rarely interact with users from other forums.  On this site, the story
  would simply be tagged with multiple tags and all users would see all
  discussion about the story in a single location.
  </p></li>
  </ul>

  <p>
  Creating new tags and retiring old tags is done by the community by submitting, discussing, and voting on <a href="/t/meta" class="tag tag_meta">meta</a>-tagged requests about them,
  and these events are <a href="https://movies.win/moderations?utf8=✓&moderator=(All)&what[tags]=tags">logged</a> (since 2018-04).
  To propose a tag, post a <a href="/t/meta">meta</a> thread with the name and description.
  Explain the scope, list existing stories that should have been tagged, make a case for why people would want to specifically filter it out, and justify the increased complexity for submitters and mods.
  </p>

  <div id="topicality">
    <p>
    movies.win is focused on movies, but that means movies and tv shows; tags like <a href="/t/lotr">lotr</a> can cover anything about Lord of the Rings.
    And others like <a href="/t/news">news</a> or <a href="rumor">rumor</a> are much more broad, but they don't imply anything in the news or rumors. These
    need to be specific to movies, tv shows, actors, etc. But, not hollywood gossip about an actor. It has to relate to a movie or show or the craft in general.
    Some rules of thumb for great stories to submit: Does this relate to movies or movie making?
    </p>
  </div>

  <h2 id="invitations">Invitation Tree</h2>
  <p>
  The full <a href="/u">user tree</a> is public and each user's profile
  shows who invited them.  This provides some degree of accountability and
  helps identify voting rings.
  </p>

  <p>
  Invitations are used as a mechanism for spam-control,
  to slow registrations to a <a href="https://en.wikipedia.org/wiki/Eternal_September">pace we can acculturate</a> (more below)
  and to encourage users to be nice, not to make the movies.win userbase an elite club.
  Users are considered "new" for their first <%= User::NEW_USER_DAYS %> days,
  and their usernames appear <span class="new_user">in green</span>.
  New users can't
    send invites,
    submit links to domains we haven't seen submitted before,
    flag stories and comments,
    suggest edits to story titles and tags,
    resubmit links that have been seen before,
    or
    <span id="new-user-tags">use tags for meta discussions or that are prone to off-topic stories
      (<%= raw(
        Tag.not_permitted_for_new_users.pluck(:tag).map { |t| link_to t, tag_path(t) }.join(' ')
      ) %>).
    </span>
  </p>

  <p>
  The quickest way to receive an invitation is to talk to someone you <a href="/u">recognize from the site</a>.
  If you wrote a link that was posted, please reach out in <a href="https://twitter.com/moviesdotwin">@moviesdotwin</a>, we'd love to have you join the discussion.
  Finally, if you can't find anyone you know in the invitation tree and didn't author something posted to the site,
  <% if Rails.application.allow_invitation_requests? %>
    you can <a href="/invitations/request">request an invite</a>.
  <% else %>
    direct message us at <a href="https://twitter.com/moviesdotwin">@moviesdotwin</a>
  <% end %>
  </p>

  <p>
  There's no limit on how many invitations a user can send (though we might at some point, to manage <a href="https://movies.win/stats">growth</a>).
  There's also no official vetting process for new users, each user is responsible for inviting people they believe will contribute positively to Lobsters.
  When accounts are banned for spam, <a href="https://en.wikipedia.org/wiki/Sockpuppet_(Internet)">sockpuppeting</a>, or other abuse,
  moderators will consider disabling their inviter's ability to send invitations or, rarely, also ban them.
  </p>

  <h2 id="ranking">Ranking</h2>
  <p>
  All story and comment ranking on this site comes from user activity.
  All users have equal votes, with no special priorities or penalties for specific users or domains.
  Moderators have no ability to raise or <a href="http://www.righto.com/2013/11/how-hacker-news-ranking-really-works.html">lower</a> the rankings of stories or comments (besides voting like any user).
  Per-tag <a href="/filters">hotness modifiers</a> affect all stories with
  those tags, but these modifiers (and <a href="https://movies.win/moderations?utf8=%E2%9C%93&moderator=(All)&what[tags]=tags">changes</a> to them) are public.
  Domains used for marketing analytics are banned and tracking parameters are removed from links
  (look for <tt>TRACKING_DOMAINS</tt> and <tt>utm_</tt> in <a href="https://github.com/movieswin/movies.win/blob/master/app/models/story.rb">story.rb</a>).
  </p>

  <div id="flags">
    <p>
    Users can flag stories and comments when there's a serious problem that needs moderator attention; two flags are needed to add the story or comment to the moderation queue.
    Users must reach <%= User::MIN_KARMA_TO_FLAG %> karma to flag.
    To guide usage and head off distracting meta conversations ("Why was this flagged!?", etc), flagging requires selecting from a preset list of reasons.
    </p>

    <p>
    For stories, these are:
    "Off-topic" for stories that are not about movie, tv shows, and movie making;
    "Already Posted" for duplicate submissions and links that elaborate on or responses to a thread that's less than a week old (see <a href="#merging">merging</a>); and
    "Broken Link" for links that 404, 500, or present a paywall;
    "Spam" for links that promote a commercial service.
    </p>

    <p>
    For comments, these are:
    "Off-topic" for drifting into meta or topics that aren't related to the story;
    "Me-too" when a comment doesn't add new information, typically a single sentence of appreciation, agreement, or humor;
    "Troll" for derailing conversations into classic arguments, well-intentioned or not;
    "Unkind" when uncharitable, insulting, or dismissive;
    and
    "Spam" for promoting commercial services.
    </p>
  </div>

  <p>
  Less than 1% of stories or comments get flagged, and users are not automatically punished by flags.
  Users whose stories or comments are getting flagged significantly more often are strongly encouraged to talk to mods about what's not working.
  (Please don't use flagging to try to push down topics or people you don't like; click "hide" on the story and <a href="https://xkcd.com/386">move on</a> rather than clutter up the mod dashboard with false alarms.)
  </p>

  <h2 id="transparency">Transparency Policy</h2>
  <p>
  All <a href="/moderations">moderator actions</a> on this site are visible to
  everyone and the identities of those moderators are <a href="/u?moderators=1">public</a>.
  While the individual actions of a moderator may cause debate, there should be no question about if an action happened or who is responsible.
  </p>

  <p>
  If users are disruptive enough to warrant banning, they will be banned
  absolutely, given notice of their banning, and their disabled user profile
  will indicate which moderator banned them and why.
  There will be no <a href="https://en.wikipedia.org/wiki/Shadow_banning">shadow banning</a> or other secret moderation actions.
  </p>
  <ul>
  <li><p>
  <strong>Responsive design</strong> enhances functionality on smaller screens
  such as phones and tablets without having to use a separate URL, 3rd party
  (often read-only) websites, or mobile apps.
  </p></li>

  <li><p>
  <strong><a href="/search">Integrated search engine</a></strong> covers all
  submitted stories and comments, including full-text caches of all submitted
  story contents.  Searching for a keyword will often bring up relevant stories
  that don't even mention that keyword in the URL or title.
  </p></li>

  <li id="merging"><p>
    <strong>Story merging</strong> collects comments on a topic that would otherwise fragment across multiple stories.
    This keeps the front page from being overwhelmed by a single topic and the discussion together for those interested (or so disinterested they'd prefer to hide it).
    Moderators merge stories on the same topic submitted within a week.
  </p></li>

  <li><p>
  <strong>Fuzzy-matching of submitted story URLs</strong> to avoid duplicate
  submissions of similar URLs that differ only in <tt>http</tt> vs.
  <tt>https</tt>, trailing slashes, useless analytics parameters, etc.  When
  using the story submission bookmarklet, story URLs are automatically
  converted to use the page's canonical URL (if available) to present the best
  URL to represent the story, as defined by the story's author or publisher.
  </p></li>

  <li><p>
  <strong>User-suggested titles and tags</strong> can
  be automatically applied to a story when a quorum of users agrees on a new
  title (such as removing a site's name, or appending the story's year of
  publication) or set of tags, without any moderator action required.
  (<a href="https://movies.win/moderations?utf8=%E2%9C%93&moderator=(Users)">Log</a>)
  </p></li>

  <li><p>
  <strong><a href="/hats">Hats</a></strong> are a more formal process of
  allowing users to post comments while "wearing <em>such and such</em> hat" to
  give their words more authority (such as an employee speaking for the
  company, or an open source developer speaking for the project).
  </p></li>

  <li><p>
  <strong><a href="/rss">Per-tag, multi-tag and site-wide RSS feeds</a></strong> are
  available to the public and logged-in users have private RSS feeds that
  filter out each user's <a href="/filters">filtered tags</a>.
  </p></li>

  <li><p>
  <strong><a href="https://twitter.com/moviesdotwin">Official Twitter
  mirror</a></strong> posts all stories that have reached the front page to
  the <a href="https://twitter.com/moviesdotwin">@moviesdotwin</a> account on Twitter
  for easy following, retweeting/sharing, or archiving.
  </p></li>
  </ul>


  </ul>
  </div>
</div>
